<div class="row">
	<div class="col s12 l12 m12 x12">
		<h2>&iquest;Qu&eacute; hace Santa?</h2>
	</div>
</div>

<div class="row">
	<div class="col s12 l12 m12 x12">

		<i><%- message %></i>

	<img src="{{APP_IMAGE_PATH}}/<%= image %>" alt="santa" width="100%">

		<h3>Usuarios m&aacute;s asiduos</h3>
		<table cellspacing="0" cellpadding="10" border="0" width="100%">
		<tr><th align="left">Usuario</th><th align="right">Visitas</th></tr>
        <% for(var i=0; i < top50.length; i++) { var person = top50[i]; %>
			<tr>
				<td>
					<a href="#!" onclick="apretaste.send({command: 'PERFIL', data:{username: '<%= person.username %>'}});">
						@<%= person.username %>
					</a>
				</td>
				<td align="center" width="50" class="center"><%= person.total %></td>
			</tr>
        <% } %>
	</table>
	</div>
</div>

<div class="fixed-action-btn">
	<a class="btn-floating btn-large green" onclick="apretaste.send({command: 'SANTA'});">
		<i class="large material-icons">refresh</i>
	</a>
</div>
